p {
    font-family: verdana;
    color:darkblue;
    font-size: 20px;
}

.paragrafo-final{
    color: cornsilk;
}

#autor {
    font-style:italic;
    font-size: 15px;
}

li{  
    font-family: arial;
    color: black;
    font-size: 18px;
}